/Kaprekar_routine/.vs/Kaprekar_routine/FileContentIndex/1948b596-bc41-427d-b9ee-27b668c595a0.vsidx
/Kaprekar_routine/.vs/Kaprekar_routine/v17/.suo
/Kaprekar_routine/.vs/Kaprekar_routine/v17/Browse.VC.db
/Kaprekar_routine/.vs/Kaprekar_routine/v17/Browse.VC.db-shm
/Kaprekar_routine/.vs/Kaprekar_routine/v17/Browse.VC.db-wal
/Kaprekar_routine/.vs/Kaprekar_routine/v17/Browse.VC.opendb
/Kaprekar_routine/.vs/Kaprekar_routine/v17/ipch/AutoPCH/5f7d265de6d5f927/KAPREKAR_ROUTINE.ipch
/Kaprekar_routine/x64/Debug/Kaprekar_routine.exe
/Kaprekar_routine/x64/Debug/Kaprekar_routine.exe.recipe
/Kaprekar_routine/x64/Debug/Kaprekar_routine.ilk
/Kaprekar_routine/x64/Debug/Kaprekar_routine.log
/Kaprekar_routine/x64/Debug/Kaprekar_routine.obj
/Kaprekar_routine/x64/Debug/Kaprekar_routine.pdb
/Kaprekar_routine/x64/Debug/Kaprekar_routine.tlog/CL.command.1.tlog
/Kaprekar_routine/x64/Debug/Kaprekar_routine.tlog/Cl.items.tlog
/Kaprekar_routine/x64/Debug/Kaprekar_routine.tlog/CL.read.1.tlog
/Kaprekar_routine/x64/Debug/Kaprekar_routine.tlog/CL.write.1.tlog
/Kaprekar_routine/x64/Debug/Kaprekar_routine.tlog/Kaprekar_routine.lastbuildstate
/Kaprekar_routine/x64/Debug/Kaprekar_routine.tlog/link.command.1.tlog
/Kaprekar_routine/x64/Debug/Kaprekar_routine.tlog/link.read.1.tlog
/Kaprekar_routine/x64/Debug/Kaprekar_routine.tlog/link.write.1.tlog
/Kaprekar_routine/x64/Debug/Kaprekar_routine.vcxproj.FileListAbsolute.txt
/Kaprekar_routine/x64/Debug/vc143.idb
/Kaprekar_routine/x64/Debug/vc143.pdb
/Kaprekar_routine/.vs/Kaprekar_routine/FileContentIndex/009c92c5-3f1f-4a1e-a131-b98817db7fa3.vsidx
/Kaprekar_routine/.vs/Kaprekar_routine/v17/Solution.VC.db
/Kaprekar_routine/.vs/Kaprekar_routine/FileContentIndex/77da7989-7a3a-4f6e-a216-df0c4b799931.vsidx
